@page
@model IndexModel
@{
	ViewData["Title"] = "Login";
}

<script runat = "server">
</script>


<div style="border: 1px solid #cec6ff; 
 				border-radius: 8px;
				margin: 0px;
				padding: 15px;
				position: absolute;
   			left: 37%;
				top: 35%;">
	<form method="post">
		<h3 style="left: 10px">Start Quiz?</h3>
			<input type = "input" id = "TeamName" name = "TeamName" asp-for="Team"/>
			<br /> <br />
			<input type="submit" value="Start!"></input>
	</form>
</div>
