@page
@using Microsoft.AspNetCore.Http
@model ITQuiz.Pages.Quiz
@{
	ViewData["Title"] = @HttpContext.Session.GetString("TeamName");
}

<!DOCTYPE html>

<style>
	.quiz-button {
	     height: 400px; 
	     width: 24%; 
	     padding-left: 10px;
	     border: none;
	     background-color: #1861ac;
	     border-radius: 6px;
	     transition-property: background-color;
	     transition-duration: 500ms;
	     color: white;
	}
	
	.quiz-button:hover {
	     background-color: #00B4DB;
	}
</style>

<div id="timer"></div>
<h3>Welcome, @HttpContext.Session.GetString("TeamName")!</h3>

<br />
<form method = "post" asp-page-handler = "" style="position:relative; height: available">
	<div>
		<input type="text" id = "Question" name = "Question" asp-for="Question" style="border: none; font-size: 32px;" readonly /> <br /> <br />
		<input  asp-for="Option1" type="submit" asp-page-handler="Option1" class="quiz-button"/>
		<input  asp-for="Option2" type="submit" asp-page-handler="Option2" class="quiz-button" style=" left: 33%" />
		<input  asp-for="Option3" type="submit" asp-page-handler="Option3" class="quiz-button" style=" left: 66%"/>
		<input  asp-for="Option4" type="submit" asp-page-handler="Option4" class="quiz-button" style=" left: 66%"/>
	</div>
</form>