@page
@using Microsoft.AspNetCore.Http;
@using ITQuiz.Classes;
@model ITQuiz.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <form>
    <h1>Thanks for Participating!</h1>
        <h3>Your team, @HttpContext.Session.GetString("TeamName") scored 
            <strong> @AllConstants.Scores[HttpContext.Session.GetString("TeamName")] </strong></h3>
    </form>
    <h3>Thanks for playing!</h3>
</div>
